*{
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}
h1,
h2, 
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif; 
    line-height: 22px;

}

.section-1,
.section-8 {
    background-color:#0a1f73;
}
.section-3, .section-5, .section-7 {
    background-color: #F6F9FF;
}
.container-fluid {
    width: 100%;
    padding: 2% 6%;
}
.container-1 {
    background-image: url("../img/wave.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
}

    /* first box*/

.box-1 {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #ffffff;
}
.navbar {
    position: static;
    top: 0;
    margin: 0;

}
.navbar-brand {
    float: left;
    padding: 0;

}

.navbar-nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    
}
.nav-item {
    padding: 0 15px;
    margin-top: 10px;
}
.navbar-light .navbar-nav .nav-link {
    color: white !important;

}
.navbar-nav .nav-item:hover {
    transform: scale(1.1);
}
ul li:nth-child(1) a {
    font-weight: 700;
}

ul li:nth-child(6) a {
    background-color: #0d2896;
    border-radius: 5px;
    padding: 15px;
    font-weight: 700;
}
.intro {
    width: 100%;
    position: relative; 
    margin: 3rem auto 0;
}
.heading {
    width: 100%;
    padding: 4rem 0 0;
}
.header {
    margin: 50px 0;
}

.heading h1 {
    width: 499px;
    font-weight: bolder;
    font-size: 48px;
    line-height: 59px;
    margin: 10px 0;
}
.heading p {
    width: 450px;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #B9C5F5;
}
.form i {
    text-decoration: none;
    color: #878787;
}
.form {
    width: 450px;
    background-color: #fff;
    border-radius: 4px;
    padding: 0.2rem;
    align-items: center;
  }
  
.form .search {
    width: 300px;
    padding-right: 10px;
    border: none;
    outline: none;
    color: #878787;
  }
  

.buttonprimary {
    background: #0D2896;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 0.6rem;
    border: none;
  }
#img-1 {
    position: absolute;
    left: 123px;
    top: 8px;
    width: 499px;
    height: 323px;
    border-radius: 3px;
}
#img-2 {
    position: absolute;
    right: 230px;
    top: 189px;
    width: 458px;
    height: 311px;
    filter: drop-shadow(0px 10px 12px rgba(3, 14, 62, 0.12));
    border-radius: 3px;
}
.floater {
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 10px 15px rgba(2, 35, 100, 0.07);
    border-radius: 10px;
    position: absolute;
    bottom: -75px;
    left: 7.5;
    right: 7.5;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
  
.floater .icon-text {
    width: 25%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;

}

.floater .icon-text .left {
    text-align: right;
}

.floater .icon-text .right {
    width: 70%;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 150%;
    color: #333333;
}

/*second container*/
.box-2 {
    position: relative;
    width: 100%;
    height: 800px;
    color: #000000;
    text-align: center;
}
.box-2-header {
    width: 50%;
    margin: 70px auto 40px;
}
.box-2-header h2 {
    color: #333333;
}
.box-2-header p {
    color: #504F4F;
}
.box-2-image {
    margin: 0 100px 100px 100px;
    display: flex;
    text-align: center;
}
.side-img {
    border-radius: 3px;
    margin: 50px 20px;
}
.side-img:hover {
    transform: scale(1.1);
}
.middle-img:hover{
    transform: scale(1.1);
}
.image-text {
    display: flex;
}
.l-side-img-text {
    position: absolute;
    width: 208px;
    height: 133px;
    left: 173px;
    top: 542px;
    background: #FFFFFF;
    box-shadow: 0px 10px 15px rgba(2, 35, 100, 0.07);
    border-radius: 5px;
    padding: 10px;
}
.l-side-img-text h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;  
    text-align: center;
    color: #0D2896;

}
.l-side-img-text p {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #504F4F;
}
.middle-img-text {
    position: absolute;
    width: 274px;
    height: 158px;
    left: 530px;
    top: 566px;
    background: #FFFFFF;
    box-shadow: 0px 10px 15px rgba(2, 35, 100, 0.07);
    border-radius: 5px;
    padding: 10px;
}
.middle-img-text h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #0D2896;
}

.middle-img-text p {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #504F4F;

}
.r-side-img-text {
    position: absolute;
    width: 202px;
    height: 133px;
    left: 955px;
    top: 542px;
    background: #FFFFFF;
    box-shadow: 0px 10px 15px rgba(2, 35, 100, 0.07);
    border-radius: 5px;
    padding: 10px;
}

.r-side-img-text h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;  
    text-align: center;
    color: #0D2896;
}
.r-side-img-text p {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #504F4F;
}

    /* box-3 */
.box-3 {
    position: relative;
    width: 100%;
    height: 800px;
    text-align: left;
    background-color: #F6F9FF;
    display: flex;
}
.services {
    width: 35%;
    margin: auto 0 ;
    text-align: left;
}
.services h2 {
    font-weight: bold;
    font-size: 28px;
    line-height: 30px;
    color: #333333;
}
.services p {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #504F4F;
}

.plan {
    width: 50%;
    display: flex;
}
.plan-box {
    width: 323px;
    height: 266px;
    background: #FFFFFF;
    box-shadow: 0px 0px 24px rgba(113, 146, 210, 0.2);
    border-radius: 5px;
    padding: 10px;

}
.plan-box img {
    margin-top: 10px;
}
.plan-box h4 {
    font-weight: bolder;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #274FED;
    margin: 1px 0;
}
.plan-box p {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #504F4F;
}
.plan-box a {
    font-weight: bold;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.03em;
    color: #274FED;
   
}
.plan-box i {
    color: #274FED;
    font-weight: lighter;
}
#plan-box1 {
    position: absolute;
    left: 547px;
    top: 150px;
}
#plan-box2 {
    position: absolute;
    left: 547px;
    top: 447.15px;
}
#plan-box3 {
    position: absolute;
    left: 905px;
    top: 84px;
}

#plan-box4 {
    position: absolute;
    left: 905px;
    top: 383px;
}


    /* fourth box*/

.box-4 {
    position: relative;
    width: 100%;
    height: 1500px;
    text-align: center;
}
.box-4-header {
    width: 45%;
    margin: 100px auto;
    text-align: center;
    line-height: 2;
}
.box-4-header h2 {
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #333333;
}
.box-4-header p {
    font-size: 18px;
    line-height: 25px;
    color: #504F4F;
}

.box-4-vectors {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.vector {
    width: 35%;
    height: auto;
    display: flex;
    margin: 10px 0;
}

.vector h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
    color: #333333;  
    text-align: center;
    margin: 0;
    font-size: 1.2rem; 
}
.vector p {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #504F4F;
    width: 65%;
    margin: 0 auto;
}
.vector2 p {
    padding-bottom: 10px;
}

#vector1 {
    position: relative;
    top: 104px;
    margin-right: 50px;
    
}

#vector2 {
    position: relative;
    top: 184px;
}

#vector3 {
    position: relative;
    top: 184px;

}

#vector4 {
    position: relative;
    top: 304px;
   
}

  
.number {
    position: absolute;
    top: -40px;
    right: 93%;
}


    /*fifth box*/
.box-5 {
    width: 100%;
    height: auto;
    background-color: #F6F9FF;
}
.box-5-header {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 50px;
}
.box-5-header h2 {
    font-weight: bold;
    font-size: 28px;
    line-height:34px;
    text-align: center;
    color: #333333;
    padding: 20px 0;
}
.box-5-header p {
    font-weight: normal;
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    color: #504F4F;
}
.bor {
    display: flex;
    margin: 20px 50px;
}
.border {
    width: 290px;
    height: 52px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    background: #F6F9FF;
    border: 1px solid #D8E4FB;
    color: #333333;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    margin: 0 10px;
    padding: 15px;
}
#border-1 {
    background-color: #0D2896;
    color: #fff;
}
.box-5-image {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-row-gap: 40px;
    margin: 50px 0 0 75px;
}
.box-5-link {
    width: 20%;
    margin: 70px auto;
}
.box-5-link a {
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;


}
.box-5-link > button {
    border: none;
    background-color: #0D2896;
    border-radius: 3px;
    width: 224px;
    height: 50px;
    justify-content: center;
    margin-bottom: 60px;
}
    /*sixth box*/
.box-6 {
    width: 100%;
    height: 500px;
}
.box-6-header {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 30px;
    font-weight: 900;
    font-size: 28px;
    line-height:34px;
    text-align: center;
    color: #333333;
}
.box-6-grid {
    width: 100%;
    display: flex;
    margin: 30px 0;
}
.grid {
    width: 400px;
    height: 220px;
    background: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0px 15px 15px rgba(50, 50, 71, 0.04);
    text-align: center;
    padding: 10px;
    margin: 0 20px;
}
.grid-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}
    /*seventh box*/
.box-7 {
    background-color: #F6F9FF;
    width: 100%;
    height: 426px;
    padding: 65px 0;

}
.box-7-box {
    background-image: url(../img/7-background.svg);
    background-color: #0d2896;
    width: 100%;
    height: 296px;
    margin: auto;
    padding: 50px;
    text-align: center;
    border: none;
    border-radius: 10px;
}
.box-7-box h2 {
    font-weight: bold;
    font-size: 28px;
    line-height: 34px; 
    color: #FFFFFF;
    padding: 10px 20px 20px 20px;
    margin-bottom: 40px;
}
.box-7-box a {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    padding: 15px;
    margin: 20px;
    text-decoration: none;
    
}
#box-7-link {
    background-color: #fff;
    color: #0d2896;
}

    /*eight box*/
.box-8 {
    position: relative;
    background-color: #0a1f73;
    width: 100%;
    height: 330px;
    color: #fff;
}
.box-8-footer {
    width: 100%;
    display: grid;
    grid-template-columns: 48% 20% 27%;
    grid-column-gap: 30px;
    padding: 30px 10px 10px;
}
.footer {
    width: 100%;
    font-family: 'Nunito', sans-serif;
    margin: 0 1rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    padding: 1rem 2.5rem 0;
} 
.footer img {
    margin-bottom: 15px;
}
.footer p {
    color: #E7F3FF;

}
.footer h5 {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.mail {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
}

.social-media {
    color:  #E7F3FF;
    width: 20px;
    height: 20px;
    margin-right: 50px;
}
hr {
    width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.22);
}
.copyright {
    width: 50%;
    text-align: center;
    margin: 15px auto 0;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
/*become a mentor*/

.become-mentor {
    background-image: linear-gradient(to bottom right, #1e3c72, #2a5298);
    background-repeat: no-repeat;
    height: 100vh;

}
.mentor {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    width: 500px;
    margin: 8% auto 0;
    height: 80vh;
    margin-top: 70px;
    color: #fff;

}

.input-box {
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #999;
    width: 90%;
    background: none;
 }

.bttn {
    color: #fff;
    width: 50%;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    margin: 40px 0;
    cursor: pointer;
    background-color: #0d2896;
    border: none;
    
    
}
 
.bttn:hover {
    background-color: #274FED;
}


/* media query for responsivenes */

/* TABLETS*/
@media (max-width: 991px) {



}
    /*MOBILE DEVICES */
@media (max-width: 700px) {
    h1,h2, h3, h4 {
        font-size: 1.3em;
    }
}

p {
    font-size: 1em;
}

body {
    max-width: 100%;
}

.container {
    max-width: 100%;
}

.box-1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7, .box-8{
    max-width: 100%;
}

#number{
    max-width: 100%;
}

#dropdown{
    max-width: 100%;
}

#comments{
    max-width: 100%;
}

#submit{
    max-width: 100%;
}

